{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Admin Panel - Users</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Date Joined</th>
                    <th>Admin</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.date_joined }}</td>
                            <td>{{ user.admin }}</td>
                            <td>
                                <form method="post" action="{% url 'edit_user' user.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-info btn-sm">Edit</button>
                                </form>
                                <form method="post" action="{% url 'delete_user' user.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form> 
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block title %}
  Admin Panel - Users
{% endblock %}