<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
    <body>
        <div class="container mt-5">
            <h2>Login</h2>
            
            <form method="POST" class="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                    {{ form.password }}
                </div>
               
                <div class="form-group form-button">
                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                </div>
                Not yet registered? <a href="/register">Register</a>
            </form>
       
          </div>
    </body>
</html>